#share-draft-content { margin: 0; padding: 0; border: 0; }
#share-draft-content .middleColumn { margin-left: 0; }
#share-draft-content .copy-to-clipboard-button-wrapper { margin-left: -5px; }
#share-draft-content label { margin-right: 4px; font-weight: bold; }
#share-draft-content input.copy-to-clipboard { width: auto; padding: 5px; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
#share-draft-content button.copy-to-clipboard-button { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
