@import "compass/css3/border-radius";

#share-draft-content {
	float: none;
	display: inline-block;

	p {
		white-space: nowrap;
	}

	.ui-tabs-anchor {
		padding: 0;
	}

	.ui-tabs-nav {
		padding-right: 0;
		padding-left: 7px;
	}

	#share-draft-content-tab {
		right: 0;
		left: auto !important;
		padding: 10px 15px;
	}
}
