@import 'mixins';

html {
	height: 100%;
}

#share-draft-error-page {
	position: relative;
	height: 100%;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #eaf1f4;

	.message {
		position: absolute;
		bottom: 66%;
		left: 50%;
		margin-left: -270px;
		width: 540px;
		text-align: center;
		color: #3db1d5;
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.6em;
		z-index: 1;

		@include small-screen {
			margin-left: -35%;
			width: 70%;

			@include mobile-screen {
				font-size: 1.2em;
				line-height: 1.4em;
				bottom: 70%;
			}
		}
	}

	.clouds {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 275px;
		background: none, url('../images/clouds.svg') repeat-x 50% 0;

		@include large-screen {
			height: 429px;
		}

		@include small-screen {
			height: 156px;
			background: none, url('../images/clouds-mobile.svg') repeat-x 50% 0;
		}
	}

	.device {
		position: absolute;
		bottom: 0;
		width: 826px;
		height: 366px;
		left: 50%;
		margin-left: -413px;
		background: none, url('../images/ipad.svg') no-repeat;

		@include small-screen {
			width: 286px;
			height: 366px;
			margin-left: -143px;
			background: none, url('../images/iphone.svg') no-repeat;

			@include mobile-screen {
				width: 200px;
				height: 256px;
				margin-left: -100px;
				background: none, url('../images/iphone-small.svg') no-repeat;
			}
		}
	}
}
