@import 'mixins.scss';

body {
	margin-top: 39px !important;

	@include topbar-small {
		margin-top: 52px !important;
	}
}

#share-draft-content-message {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 39px;
	padding: 13px 0;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 90000;

	@include topbar-small {
		height: 52px;
	}

	.extra-information {
		color: rgb(51, 51, 51);
		width: 300px;
		position: absolute;
		background-color: #fff;
		display: none;
		text-align: left;
		padding: 8px;
		-webkit-box-shadow: 0 -1px 4px #aaa;
		-moz-box-shadow: 0 -1px 4px #aaa;
		box-shadow: 0 -1px 4px #aaa;
		top: 24px;
		right: 0;

		&:after {
			content: '';
			position: absolute;
			top: -5px;
			width: 10px;
			height: 10px;
			background: #fff;
			right: 10%;
			-webkit-box-shadow: -1px -1px 2px #aaa;
			-moz-box-shadow: -1px -1px 2px #aaa;
			box-shadow: -1px -1px 2px #aaa;
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		li {
			margin: 8px 0 0 16px;
			list-style: disc;
		}

		li:first-child {
			margin: 0;
			list-style: none;
		}
	}

	.message {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		line-height: 16px;
		color: rgb(51, 51, 51);
	}

	span {
		color: #0b7aca;
		position: relative;

		@include small-screen {
			display: none;
		}

		&:hover .extra-information {
			display: block;
		}
	}

	em {
		font-weight: bold;
	}
}
